@model EmailViewModel

@{
    ViewData["Title"] = "EmailSender";
}


<h1 class="display-4">EmailSender</h1>
<form asp-controller="Home" asp-action="SendEmail" method="post">
    <div class="form-group">
        <label asp-for="SenderEmail">Gönderen E-posta</label>
        <p>@Model.SenderEmail</p>
        <input asp-for="SenderEmail" type="hidden" class="form-control" id="SenderEmail" name="SenderEmail" required>
    </div>
    <div class="form-group">
        <label asp-for="RecipientEmail">Alıcı E-Posta</label>
        <p>@Model.RecipientEmail</p>
        <input asp-for="RecipientEmail" type="hidden" class="form-control" id="RecipientEmail" name="RecipientEmail" required>
    </div>
    <div class="form-group">
        <label asp-for="Subject">Başlık</label>
        <input asp-for="Subject" type="text" class="form-control" id="Subject" name="Subject" required>
    </div>
    <div class="form-group">
        <label asp-for="Body">Açıklama</label>
        <textarea asp-for="Body" class="form-control" id="Body" name="Body" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>
