@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AcademicianPlatform.Areas.Admin.ManageNavPages.IndexNavClass(ViewContext)" id="list-users" asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="fas fa-users fa-sm" style="color: #4f4f4f;"></i>      Kullanıcıları Listele</a></li>
    <li class="nav-item"><a class="nav-link @AcademicianPlatform.Areas.Admin.ManageNavPages.EditUserNavClass(ViewContext)" id="edit-user" href="/Admin/Admin/EditUser"><i class="fas fa-user-pen fa-sm" style="color: #4f4f4f;"></i>      Kullanıcıyı Düzenle</a></li>
    <li class="nav-item"><a class="nav-link @AcademicianPlatform.Areas.Admin.ManageNavPages.SupportNavClass(ViewContext)" id="support" href="/Admin/Admin/Support"><i class="fas fa-headset fa-sm" style="color: #4f4f4f;"></i>      Desktek Bildirimleri</a></li>
    <li class="nav-item"><a class="nav-link @AcademicianPlatform.Areas.Admin.ManageNavPages.EditMarqueeTextNavClass(ViewContext)" id="edit-marquee-text" href="/Admin/Admin/EditMarqueeText"><i class="fas fa-text-width fa-sm" style="color: #4f4f4f;"></i>      Kayan Yazıyı Düzenle</a></li>
</ul>
