@using AcademicianPlatform.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json;
@inject IWebHostEnvironment _environment
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject AcademicianPlatform.Data.ApplicationDbContext _context
@{
    if(User.Identity.Name == string.Empty || User.Identity.Name == null)
    {
        await SignInManager.SignOutAsync();
    }
    var currentUser = await UserManager.GetUserAsync(User);
    bool isAdmin = false;
    string adminsContent = System.IO.File.ReadAllText(System.IO.Path.Combine(_environment.ContentRootPath, "External", "admins.json"));
    var admins = JsonConvert.DeserializeObject<Dictionary<string, List<string>>>(adminsContent) ?? throw new ArgumentNullException("Admin listesi bulunamadı!");
    List<string> emailsInAdmins = admins["emails"];
    if (currentUser != null)
    {
        foreach (var mail in emailsInAdmins)
        {
            if (mail == currentUser.Email)
            {
                isAdmin = true;
            }
        }
    }
    var marqueeText = _context.MarqueeText.FirstOrDefault(p => p.Id == 1);
}
@if(currentUser != null && SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        @if (isAdmin)
        {
            <div class="container-fluid justify-content-start p-0 m-0">
                <a class="nav-link navbar-text text-decoration-none" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                    <i class="fa-solid fa-user"></i> Admin Yönetim Paneli
                </a>
            </div>
        }
        <div class="container-fluid justify-content-end p-0 m-0">
            <p class="nav-link d-inline p-0 m-0 px-4 text-animation">Hoş Geldiniz, <b>@currentUser.FirstName @currentUser.LastName</b></p>

        </div>
    </nav>
    @if (marqueeText != null)
    {
        <div class="container-fluid slider-div m-0 p-0 justify-content-center">
            <marquee direction="left"><p class="text-white m-0 p-0"><i class="fas fa-bullhorn fa"></i><strong>    @marqueeText.Text</strong></p></marquee>
        </div>
    }
    else
    {
        <div class="container-fluid slider-div m-0 p-0 justify-content-center">
            <marquee direction="left"><p class="text-white m-0 p-0"><i class="fas fa-bullhorn fa"></i><strong>    Kayan yazı bulunamadı. Admin panelinden kayan yazıyı ekleyebilirsiniz! </strong></p></marquee>
        </div>
    }
}
