@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<h1>@ViewData["Title"]</h1>
<br />
<h4 id="external-login-title">İstanbul Sağlık ve Teknoloji Üniversitesi @Model.ProviderDisplayName Hesabınız ile Kayıt Olun</h4>
<hr />

<p id="external-login-description" class="text-info">
    <strong>@Model.ProviderDisplayName</strong> hesabınız başarıyla doğrulanmıştır.
    Lütfen bilgilerinizi doğru bir şekilde girerek Kayıt Ol butonuna tıklayınız.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.AboutMeText" class="form-control" autocomplete="aboutmetext" />
                <label asp-for="Input.AboutMeText" class="form-label"></label>
                <span asp-validation-for="Input.AboutMeText" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Department" class="form-control" autocomplete="department" />
                <label asp-for="Input.Department" class="form-label"></label>
                <span asp-validation-for="Input.Department" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Title" class="form-control" autocomplete="title" />
                <label asp-for="Input.Title" class="form-label"></label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.CV" class="form-control" autocomplete="cv" />
                <label asp-for="Input.CV" class="form-label"></label>
                <span asp-validation-for="Input.CV" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ProfilePhoto" class="form-control" autocomplete="profilephoto" />
                <label asp-for="Input.ProfilePhoto" class="form-label"></label>
                <span asp-validation-for="Input.ProfilePhoto" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
