@page
@model AcademicianPlatform.Areas.Identity.Pages.Account.Manage.AboutMeModel
@inject UserManager<ApplicationUser> userManager
@{
	ViewData["Title"] = "Hakkımda Güncelle";
	ViewData["ActivePage"] = ManageNavPages.AboutMe;
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
}

<h4 id="profile-title"><i class="fas fa-id-card fa-sm" style="color: #A82F3A;"></i>   @ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<hr />
@{
	var user = await userManager.FindByNameAsync(User.Identity.Name);
}
<form asp-page-handler="UpdateAboutMe" method="POST">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-floating">
		<label asp-for="Input.AboutMeText" class="form-label"></label>
		<textarea asp-for="Input.AboutMeText" class="form-control"></textarea>
		<span asp-validation-for="Input.AboutMeText" class="text-danger"></span>
	</div>
	<button type="submit" class="w-100 btn btn-lg btn-primary btn-yeniDuyuruOlustur">Güncelle</button>
</form>
